body {
  padding: 0 1em; }

.node {
  text-anchor: middle; }

.count {
  font-size: 0.75em; }

#search-bar {
  margin-top: 1em; }

.col-md-6 {
  padding: 0; }

#vis {
  height: 100%; }

#accordion {
  overflow: auto;
  height: 100%; }

.breadcrumb {
  margin-top: 1em;
  margin-bottom: 2em; }

.alert {
  text-align: center; }

#accordion {
  margin: 0; }
