extends ./layout.jade

block content
	.row#search-bar
			.input-group
				input(id="searchText", type="text", class="form-control input-lg" placeholder="Search", autofocus="autofocus")
				span.input-group-btn
						button(id="searchButton", class="btn btn-lg btn-default", type="button")
								i.glyphicon.glyphicon-search
	.row
		.col-md-6.col-md-push-6
			#vis
		.col-md-6.col-md-pull-6
			#accordion.panel-group(role="tablist", aria-multiselectable="true")
				.panel.panel-default#history
					.panel-heading#headingOne(role="tab")
						h4.panel-title
							a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne") Search History
					#collapseOne.panel-collapse.collapse(role="tabpanel", aria-labelledby="headingOne")
						.list-group

				.panel.panel-default#details
					.panel-heading#headingTwo(role="tab")
						h4.panel-title
							a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo", aria-expanded="false", aria-controls="collapseTwo") Results
					#collapseTwo.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="headingTwo")
						.list-group
							.text-center <br> No results yet. Enter a query. <br><br>


			//- 	span#numResults
			//- 	a(class="btn btn-default btn-sm", data-toggle="collapse", href="#collapseExample", aria-expanded="false", aria-controls="collapseExample") History
			//- 	.collapse#collapseExample
			//- 		.panel.panel-default
			//- 			.panel-body
			//- 				.list-group
			//- #details
