doctype html
html(lang="en")
	head
		title Network
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
		link(rel="stylesheet" type="text/css" href="styles/style.css")

	body
		.container-fluid
			header
				.row
					ul.nav.nav-pills.pull-right(role="tablist")
						li
							a(href='/') Home
						li
							a(href='/infos') Infos
						li
							unless userName
								a(href='/login') Login
						if userName
							li
								a(href='/likes') #{userName}'s Bookmarks
							li
								a(href='/logout') Logout


				div
					if alert
						if alert.type == "fail"
							.alert.alert-danger.alert-dismissible(role="alert")
								button(type="button", class="close", data-dismiss="alert", aria-label="Close")
									span(aria-hidden="true") &times;
								p #{alert.message}

						else
							.alert.alert-success.alert-dismissible(role="alert")
								button(type="button", class="close", data-dismiss="alert", aria-label="Close")
									span(aria-hidden="true") &times;
								p #{alert.message}

			block content

		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/d3/d3.min.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="bower_components/modernizr/modernizr.js")
		script(src="bower_components/typeahead.js/dist/typeahead.bundle.min.js")
		script(type="text/javascript" src="scripts/fancy.js")
