doctype html
html(lang="en")
	head
		title Fancy - Visualize your FCA Lattice - Formal Concept Analysis
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
		link(rel="stylesheet" type="text/css" href="styles/style.css")

	body
		.container-fluid
			header
				.row
					if all
						.form-inline.pull-right
							.form-group
								//- label(for="selectDataset") Select dataset 
								select.form-control#selectDataset(title="Select Dataset")
									each val in all
										if val == selected
											option(selected)= val
										else
											option= val
					ul.nav.nav-pills.pull-right(role="tablist")
						li
							a(href='/') Home
						li
							a(href='/infos') Infos
						li
							a(href='/upload') Upload


			block content

		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/d3/d3.min.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="bower_components/modernizr/modernizr.js")
		script(src="bower_components/typeahead.js/dist/typeahead.bundle.min.js")

		block scripts